
<%if current_user.role_id!=2%>
<script type='text/javascript'>
    window.location.href="/";
    window.alert("No tienes permisos");
</script>
<%end%>
<div class="hero is-fullheight is-light is-bold">
    <div class="columns is-centered">
        <div class='column is-three-fifths'>
            <div class='card'>
                <div class='card-content'>
                    <h1 class= "title has-text-centered">Settings</h1>
                    <div class=columns>
                        <div class="column is-one-third">
                        <ul>
                            <li><%=link_to "Modificar Comunas", comunas_index_path, class: "button is-link is-fullwidth"%></li>
                        </ul>
                        </div>
                        <div class="column is-one-third">
                            <%=link_to "Servicios por revisar", servicio_admin_index_url, class: "button is-link is-fullwidth"%>
                        </div>
                        <div class="column is-one-third">
                            <%=link_to "Agregar administrador", admin_new_admin_path, class: "button is-link is-fullwidth"%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 
    
