<%if current_user.role_id!=2%>
<script type='text/javascript'>
    window.location.href="/";
    window.alert("No tienes permisos");
</script>
<%end%>
<h1><%=@comuna.nombre%></h1>


<%= link_to 'Editar', edit_comuna_url(@comuna)%>
<br>
<%= link_to 'Eliminar',
         { :action => :destroy, :id => @comuna.id }, 
         :method => :delete, 
         :data => { :confirm => 'Are you sure?' }
             %>
